<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
</head>
<body>
    {{> header}}
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod dolore praesentium 
        facilis obcaecati voluptatem? Ad quis pariatur eaque fugit esse odio iure, soluta, nam veniam ea magni eum dignissimos tempore!
    </p>
    {{> footer}}
</body>
</html>