<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    
    {{> header}}

    <p>{{captalizeText message}}</p>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam, praesentium nisi, veniam quas maxime ducimus, 
        commodi debitis cupiditate nesciunt voluptatibus iusto quod doloremque quisquam? Atque id cupiditate obcaecati ut vel.
    </p>

    {{> footer}}
    
</body>
</html>